<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>Registrar Usuario</h1>
                <form [formGroup]="formulario">
                    
                    <div class="form-group">
                        <label for="titulo">Nombres:</label>
                        <input type="text" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">Apellido Paterno:</label>
                        <input type="text" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">Apellido Materno:</label>
                        <input type="text" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">RUT:</label>
                        <input type="text" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">Dirección de Residencia:</label>
                        <input type="text" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">XXXXXXXXXXXXXXXX</label>
                        <input type="text" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">YYYYYYYYYY</label>
                        <input type="text" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">Correo Electrónico:</label>
                        <input type="email" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">Contraseña:</label>
                        <input type="password" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <label for="titulo">Confirmar Contraseña:</label>
                        <input type="password" formControlName="titulo" class="form-control"/>
                    </div> 

                    <div class="form-group">
                        <button style="margin: 10px" class="btn btn-primary"> Crear </button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>